    .giris
    {
        width: 500px;
        height: 475px;
        margin-left: auto;
        margin-right: auto;
        background-color: #dfdfdf;
    }
    h1,h3
    {
        text-align: center;
    }
    .sosyal
    {
        color: #ffffff;
        width: 350px;
        height: 25px;
        display: block;
        word-spacing: 3px;
        text-align: center;
        margin-left: 70px;
        background-color: #073763;
    }
    .sosyal2 /* kullanci adi ve sifre girme yeri  */
    {
    
        width: 350px;
        height: 25px;
        display: block;
        margin-left: 70px;
    }
    .sosyal3 /* giris ve kaydol kısmı  */
    {
    
        width: 125px;
        height: 30px;
        display: inline;
        margin-left: 70px;
        background-color: #0a61af;
    }
    #kaydol
    {
        margin-left: 94px;
    }
    #tw
    {
        color: #000000;
        background-color: #6fa8dc;
    }
    p
    {
        text-align: center;
    }
    .check
    {
        margin-left: 169px;
    }
    a
    {
        display: block;
        text-align: center;
        margin-top: 30px;
    }