
        .adres
    {
        
        height: 300px;
        margin-left: 30px;
    }
    #adres_simgesi
    {
        width: 50px;
        height: 45px;
        margin-top: -288px;
        margin-left: 36px;
    }
       h4
    {
      margin-left: 44px;
    }
    h2
    {
        margin-left: 10px;
    }
    iframe
    {
        width: 447px;
		margin:auto;
        height: 214px;
        
    }
    #Hr
    {
        border: solid #ff0000; 
        margin-left: -1px;
        margin-top: 15px;
    }
    .sag_taraf
    {
        margin-left: 0px;
        margin-top: 0px;
    }
    #ayrica
    {
        margin-left: 8px;
        font-size: 21px;
        font-style: italic;
        font-weight: bold;
    }
    img
    {
        float: left;
        width: 30px;
        height: 39px;
        margin-left: 12px;
    }
    #tel
    {
      margin-top: -11px;
    }
    #fax
    {
        margin-top: -14px;     
    }
    p
    {
        margin-bottom: 17px;
    }