.slides
		   {
			 padding: 0;

			 height: 420px;
			 display: block;
			 margin-left: 15px;
			 position: relative;
			 
		   }

		.slides input { display: none; }
		.slide-container { display: block; }
		
		.slide
		{
			top: 150px;
			opacity: 0;
			
			height: 430px;
			display: block;
			position: absolute;
		
			transform: scale(0);
		
			transition: all .2s ease-in-out;
		}

			.slide img
			{
				width: 100%;
				height: 110%;
                
			}

			.nav label
			{
				width: 65px;
				height: 150%;
				display: none;
				position: absolute;
			
				  opacity: 0; /*  bu iki satır görevi fare slider üzerine geline sağ ve sol ok çıkıyor...  */
				  z-index: 9;
				cursor: pointer;
			
				transition: opacity .2s;
			
				color: #FFFFFF;
				font-size: 100pt;
				text-align: center;
				line-height: 725px;
				font-family: "Varela Round", sans-serif;
				background-color: rgba(255, 255, 255, .2);
				text-shadow: 0px 0px 15px rgb(119, 119, 119);
			}

			.slide:hover + .nav label { opacity: 0.5; }
			.nav label:hover { opacity: 1; }
			.nav .next {left:1252px;}
			input:checked + .slide-container  .slide
			{
				opacity: 1;
				transform: scale(1);
				transition: opacity 1s ease-in-out;
			}

			input:checked + .slide-container .nav label { display: block; }

			.navDots
			{
				width: 100%;
				bottom: -110px;
				display: block;
				position: absolute;
				text-align: center;
			}

			.navDots .navDot
			{
				top: 120px;
				width: 12px;
				height: 10px;
				margin: 6px 6px;
				position: relative;
				border-radius: 100%;
				display: inline-block;
				background-color: rgba(0, 0, 0, 0.6);
			}

			.navDots .navDot:hover
			{
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.3);
			}

			input#img1:checked ~ .navDots label#imgDot1,
			input#img2:checked ~ .navDots label#imgDot2,
			input#img3:checked ~ .navDots label#imgDot3,
			input#img4:checked ~ .navDots label#imgDot4,
			input#img5:checked ~ .navDots label#imgDot5,
			input#img6:checked ~ .navDots label#imgDot6
			{
				background: rgba(0, 0, 0, 0.8);
			}
            
			/* Slinder için CSS style  BITTI  */
			
            /*orta dogu haberleri */
			.orta
			{

				height: 490px;
			  background-color: #eeeeee;
			  margin-left: 15px;
			  margin-top: 270px;
			}
			#orta_hb_1
			{

			height: 150px;
			}
			#orta_hb_1 img
			{
			  height: 125px;
			}
            .info
			{
			  font-size: large;
			  margin-left: 130px;
			  margin-top: -110px;
			  list-style: none;
			}
			#bas
			{
			  font-weight: bold;
			}
			#bir
			{

			border: solid #ff4646;
			  margin-top: 73px;
			  
			}
			
			#orta_hb_2
			{

			height: 150px;
			}
			#orta_hb_2 img
			{
			  height: 125px;
			}
            .info2
			{
			  font-size: large;
			  margin-left: 130px;
			  margin-top: -110px;
			  list-style: none;
			}
			#bas2
			{
			  font-weight: bold;
			}
			#iki
			{

			border: solid #ff4646;
			  margin-top: 73px;
			}
			#but1
			{
			  width: 175px;
			  height: 42px;
			  margin-left: 309px;
			}
			#uc
			{
			  border: double #ff2f2f;
			}
            
            /* */
            
            /* Karikatur icinde ki slinder*/
            .karikatur
             {
               width: 500px;
               height: 378px;
               font-size: 14px;
               margin-left: 17px;
               margin-top: -10px;
               font-weight: bold;
               text-align: center;
            }
            .slides3
		   {
			 padding: 0;
             width: 500px;
			 height: 400px;
			 display: block;
			 margin: -489px auto;
             left: -119px; 
			 position: relative;
		   }
		.slides3 input { display: none; }
		.slide-container3 { display: block; }
		
		.slide3
		{
			top: 153px;
			opacity: 0;
			width: 575px;
			height: 352px;
			display: block;
			position: absolute;
            margin-left: 10px;
		}

			.slide3 img
			{

                width: 85%;
                height: 88%;
                margin-left: 109px;
                margin-top: 330px;
			}

			.nav3 label
			{
				width: 53px;
				height: 91%;
				display: none;
				position: absolute;
			
				  opacity: 0; /*  bu iki satır görevi fare slider üzerine geline sağ ve sol ok çıkıyor...  */
				  z-index: 9;
				cursor: pointer;
			
				transition: opacity .2s;
				color: #FFFFFF;
				font-size: 100pt;
				text-align: center;
				line-height: 404px;
				font-family: Helvetica,Arial , sans-serif;
				background-color: rgba(255, 255, 255, .2);
				text-shadow: 0px 0px 15px rgb(119, 119, 119);
			}

			.slide3:hover + .nav3 label { opacity: 0.9; }
			.nav3 label:hover { opacity: 1; }
			.nav3 .next3 { left:553px; top: 429px; }
            .nav3 .prev3 { left:119px; top: 428px;}
			input:checked + .slide-container3  .slide3
			{
				opacity: 1;
				transform: scale(1);
				transition: opacity 1s ease-in-out;
			}

			input:checked + .slide-container3 .nav3 label { display: block; }

			.navDots3
			{
				width: 145%;
				bottom: -110px;
				display: block;
				position: absolute;
				text-align: center;
			}

			.navDots3 .navDot3
			{
				top: 360px;
				width: 13px;
				height: 12px;
				margin: 58px 1px;
				position: relative;
				border-radius: 100%;
				display: inline-block;
				background-color: rgba(0, 0, 0, 0.6);
			}

			.navDots3 .navDot3:hover
			{
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.8);
			}

			input#img1:checked ~ .navDots label#imgDot1,
			input#img2:checked ~ .navDots label#imgDot2,
			input#img3:checked ~ .navDots label#imgDot3
			{
				background: rgba(0, 0, 0, 0.8);
			}
            #but2
            {
              width: 200px;
			  height: 37px;
			  margin-left: -17px;
              margin-top: 913px;
              background-color: #ff2d2d;
            }
             /* "Yorumlar" kısmı */
            .comments
            {
                width: 250px;
                height: 375px;
                margin: -412px 0 0 563px ;
            }
            .face , .twit  , .plus 
            {
                width: 20px;
                height: 20px;
              float: left;
            }
            
             