*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow-y: scroll;
}
header{
    background-color: white;
    height: 70px;
    
    width: 100%;
}
.logo{
    margin-left: auto;
    margin-right: auto;
    width: 210px;
    height: 55px;
    margin-top: 10px;
}
.navbar{
    float:left;
    margin-left:10px; 
}
.search{
    float:right;
    margin-right: 10px;
}
#content{
    background-color: #f2f2f2;
    padding-top: 15px;
    padding-bottom: 15px;
}
#slider img{
    object-fit: cover;
    width: 100%;

}
#haber-kutular{
    padding: 10px 15px 0px 15px;
    clear: both;
}

.haber-kutu{
    background-color: white;
    border: 2px solid grey;
    height: 115px;
    padding: 10px;
    cursor: pointer;
    margin-bottom: 15px;
}

.haber-kutu img{
    width: 124px;
    height: 108px;
    float:left;

}
.haber-kutu hgroup{
    float:left;
    margin-left: 25px;
}

.haber-kutu hgroup h5{
    font-weight: 500;
}
.cubuk{
    width: 100%;
    margin-left: -10px;
    padding-right: 20px;
    height: 10px;
    background-color: #e51c23;
    margin-top: 115px;
}
.yatay-haber-kutular{
    height: 195px;
    background-color: grey;
    padding: 10px 0px 15px 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
}
.haber-kutu2 img{
    width: 170px;
    height: 180px;
    object-fit: cover;
}
.haber-kutu2{
    cursor: pointer;
    margin-right: 20px;
    display: inline-block;
    vertical-align: middle;
}
.haber-kutu2:first-of-type{
    margin-left: 15px;
}
.manset{
    width: 170px;
    height: 50px;
    color:white;
    position: relative;
    margin-top: -55px;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
}
.manset:hover{
    background-color: rgba(0, 0, 0, 0.8);
}
.manset h4{
    position: relative;
    margin-left: 10px;
    padding-top: 10px;
}
.haber-kutu2 .cubuk{
    height: 5px;
    position: relative;
    z-index: 6;
    width: 170px;
    margin: -55px 0px 0px 0px;
    padding: 0px;
}
footer{
    color:white;
    padding: 10px 0px 10px 0px;
    background-color: #212121;
    height: 110px;
    width: 100%;
}
footer a{
    text-decoration: none;
    color:white;
}
footer img{
    margin-left: auto;
    margin-right: auto;
    width: 169px;
    height: 38px;
}
footer p{
    text-align:center;
    line-height: 30px;
}
footer .logo{
    width: 169px;
    height: 38px;
    margin-top: 0px; 
}
table#gunler{
    width: 100%;
    padding: 0px 15px 0px 15px;
	margin-left:-20px;
    border-spacing: 5px;
}
#gunler td{
    vertical-align: top;
}
#gunler .col-typ1{
    width: 10%;
}
#gunler .col-typ2{
    width: 40%;
}   
#gunler .col-typ1 p{
    text-align: center;
    font-weight: 600;
}
#gunler .col-typ2 hgroup{
    margin-bottom: 5px;
}
#gunler .col-typ2 hgroup{
    padding: 5px;
    background-color: #e51c23;
    color:White;
}
#gunler .col-typ2 hgroup h5{
    font-weight: 500;
}
#haber-tasiyici{
    padding: 10px;
}
.resim-tasiyici img{
    width: 100%;
    object-fit: cover;
    padding-bottom: 15px;
}
#haber-bilgi{
    float:left;
}
.sosyal-medya-mini{
    float:right;
    background-color: #999999;
}
.sosyal-medya-mini li{
    display: inline-block;
    padding: 7px 6px 3px 6px;
    margin: 0px;
}
.sosyal-medya-mini li img{
    width: 30px;    
}
.sosyal-medya-mini li:first-of-type:hover{
    background-color: #3b5998;
}
.sosyal-medya-mini li:hover{
    background-color: #4099FF;
}
.sosyal-medya-mini li:last-of-type:hover{
    background-color: #d34836;
}
.dinle{
    padding: 10px 0px 10px 0px;
    clear: both;
}
.dinle audio{
    width: 70%;
}
#haber-metni{
    text-indent: 15px;
}
#haber-metni p{
    margin-bottom: 10px;
}
#ilginizi-cekebilir{
    margin-left: -10px;
    margin-right: -10px;
}
#tarih-gecis{
    width: 100%;
    margin-bottom: 30px;
}
#tarih-gecis li{
    display: inline-block;
}
#tarih-gecis li a{
    text-decoration: underline;
    color:black;
}
#tarih-gecis li:first-of-type{
    float:left;
    margin-left: 15px;
}
#tarih-gecis li:last-of-type{
    float:right;
    margin-right: 15px;

}