	
		  /* Accorditon için CSS style Başlangıcı   */
	
    
   body
   {
        background-image: url(body.png);
   }
		   .accordion {
    width: 200px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin:19px -5px;
    background: #f4f4f4;
    border-radius:  20px;
    overflow: hidden;
}
    .accordion a {
        display: block;
        height: 45px;
        line-height: 45px;
        padding: 0px 0px 0px 10px;
        background: #3e9eff;
        text-decoration: none;
        color: #FFFFFF;
    }
    .accordion a~a
    {
        border-top: 1px solid #3e9eff;
    }
    
    .accordion a:hover
    {
        background: #3e9eff;
    }
    .accordion article
    {
        height: 0px;
        padding: 0px 30px;
        overflow:hidden;
        line-height: 10px;
        color: #777;
    }
    .accordion article:target
    {
        height: 145px;
    }
    .accordion article h4 {
        padding: 1.5px;
    }
             
			
			/* Slinder için CSS style Başlangıcı   */
			
			.slides
		   {
			 padding: 0;
             width: 700px;
			 height: 420px;
			 display: block;
			 margin: -250px auto;
             left: -120px; top: -240px; 
			 position: relative;
			 
		   }

		.slides input { display: none; }
		.slide-container { display: block; }
		
		.slide
		{
			top: 150px;
			opacity: 0;
			width: 600px;
			height: 420px;
			display: block;
			position: absolute;
		
			transform: scale(0);
		
			transition: all .2s ease-in-out;
		}

			.slide img
			{
				width: 165%;
				height: 110%;
                
			}

			.nav label
			{
				width: 65px;
				height: 146%;
				display: none;
				position: absolute;
			
				  opacity: 0; /*  bu iki satır görevi fare slider üzerine geline sağ ve sol ok çıkıyor...  */
				  z-index: 9;
				cursor: pointer;
			
				transition: opacity .2s;
			
				color: #FFFFFF;
				font-size: 100pt;
				text-align: center;
				line-height: 670px;
				font-family: "Varela Round", sans-serif;
				background-color: rgba(255, 255, 255, .2);
				text-shadow: 0px 0px 15px rgb(119, 119, 119);
			}

			.slide:hover + .nav label { opacity: 0.5; }
			.nav label:hover { opacity: 1; }
			.nav .next { left:925px; }
			input:checked + .slide-container  .slide
			{
				opacity: 1;
				transform: scale(1);
				transition: opacity 1s ease-in-out;
			}

			input:checked + .slide-container .nav label { display: block; }

			.navDots
			{
				width: 140%;
				bottom: -110px;
				display: block;
				position: absolute;
				text-align: center;
			}

			.navDots .navDot
			{
				top: 120px;
				width: 12px;
				height: 12px;
				margin: 6px 6px;
				position: relative;
				border-radius: 100%;
				display: inline-block;
				background-color: rgba(0, 0, 0, 0.6);
			}

			.navDots .navDot:hover
			{
				cursor: pointer;
				background-color: rgba(0, 0, 0, 0.8);
			}

			input#img1:checked ~ .navDots label#imgDot1,
			input#img2:checked ~ .navDots label#imgDot2,
			input#img3:checked ~ .navDots label#imgDot3,
			input#img4:checked ~ .navDots label#imgDot4,
			input#img5:checked ~ .navDots label#imgDot5,
			input#img6:checked ~ .navDots label#imgDot6
			{
				background: rgba(0, 0, 0, 0.8);
			}
            
			/* Slinder için CSS style  BITTI  */
            
            .title
            {
               width: 190px;
               font-size: 14px;
               
               font-weight: bold;
               text-align: center;
            }
            .titlee
            {
               font-family: Arial, Helvetica, sans-serif;
               width: 161px;
               height: 250px;
               word-spacing: 10px;
                line-height: 20px;
               background-color: #6fb7ff;
               padding: 10px;
            }
            .titlee>a
             {
                color:#000000;
            }

            
             a , .accordion h4
            {
             cursor: pointer;  
            }
            
            .survey
            {
                width: 161px;
                height: 250px;
                font-size: 14px;
                font-weight: bold;
                background-color:rgba(65,131,196,.4);
            }
             .survey >p
             {
                font-weight: normal;
             }
             
             #join , #show
             {
                
                background-color: #6fb7ff;
             }
              
             /* "Yorumlar" kısmı */
            .comments
            {
                width: 230px;
                height: 380px;
                margin: -400px 0 0 910px ;
            }
            .face , .twit  , .plus 
            {
                width: 20px;
                height: 20px;
              float: left;
            }
             
             /* "En çok okunan" kısmı */
             .best 
             {
                width: 630px;
                height: 380px;
                margin: -400px 0 0 218px ;
             }
             .news img
             {
                width: 150px;
                height: 150px;
                float:left; 
             }

              fieldset a:hover
             {
                color:#0000ff;
                text-decoration: underline;
                cursor: pointer;
             }
             
             slides img:hover
             {
                cursor: pointer;
             }
             
              
            
            
            /*  "Avrupa"    "Amrika"  "Orta doğu "  ve "afrika" nin özellikleri aynı olduğu için   */
            .avrupa , .abd , .orta , .afrika
            {
                
                width: 400px;
                height: 200px;
                margin:10px 0 0 218px ;
            }
            
            legend
            {
             font-weight: bold;   
                height: 20px;
            }
            /*  #2575bc
                #999999           
            */
            img
            {
                display: block;
            }
            .tanim , a
            {
                color:  #818181 ;
            }